.kanban-board{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 100vh;
    margin-top: 50px;
}
.column{
    justify-content: space-between;
    padding: 20px;
    min-width: 30%;
    border-radius: 10px;
}
.column-task{
    background-color: white;
    margin: 25px;
    height:fit-content;
    padding: 10px;
    word-wrap: break-word;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.task-buttons   {
    margin: 5px;
    border: none;
    gap:5px;
    padding: 5px
}
.inputBox{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}
.addTaskBtn{
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin:5px 8px;
}
.shiftBtn{
    margin: 5px;
    border: none;
    gap:5px;
    padding: 5px
}
.deleteBtn{
    margin: 5px;
    border: none;
    gap:5px;
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 3px;
}
.saveBtn{
    margin: 5px;
    border: none;
    gap:5px;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
}
.cancelBtn{
    margin: 5px;
    border: none;
    gap:5px;
    padding: 5px;
    background-color: gray;
    color: white;
    border-radius: 3px;
}
.edit-button{
    margin: 5px;
    border: none;
    gap:5px;
    padding: 5px;
    background-color: #008CBA;
    color: white;
    border-radius: 3px;
}
